<div style="background-image:url('../../public/assets/barra_colores.jpg'); height:6px;" class="mt-14 w-full -z-2">
</div> 

<div class="grid grid-cols-1 place-content-around py-16" style="background-image:url('../../public/assets/image2.jpg'); background-size: cover; height:800px;">
  
    <div class="p-4 mx-24 leading-normal  rounded-2xl shadow-2xl h-full hover:shadow-xl hover:opacity-90" style="backdrop-filter: blur(30px);">
        <h6 class="mb-1 text-4xl font-bold tracking-tight text-green-700 text-pretty" style="text-shadow: rgba(216, 216, 216, 0.781) 3px 0 10px; ">Atención personalizada</h6>
        <p class="mb-3 text-xl text-gray-800" style="text-shadow: rgba(216, 216, 216, 0.781) 3px 0 10px; ">Sabemos que cada persona es única, por lo que ofrecemos un enfoque personalizado para satisfacer tus necesidades específicas. Nuestro equipo está comprometido a brindarte un servicio excepcional y a adaptarse a tus circunstancias individuales.</p>
    </div>
        
    <div class="p-4 mx-24 leading-normal rounded-2xl shadow-2xl h-full hover:shadow-xl hover:opacity-90" style="backdrop-filter: blur(30px);">
        <h6 class="mb-1 text-4xl font-bold tracking-tight text-green-700 text-pretty" style="text-shadow: rgba(216, 216, 216, 0.781) 3px 0 10px; ">Acceso a servicios de calidad</h6>
        <p class="mb-3 text-xl text-gray-800" style="text-shadow: rgba(216, 216, 216, 0.781) 3px 0 10px; ">Trabajamos con una amplia red de proveedores de salud y servicios sociales para garantizar que recibas atención de la más alta calidad. Estamos acá para asegurarnos de que recibas los servicios que necesites, cuándo y dónde los necesites.</p>
    </div>  

    <div class="p-4 mx-24 leading-normal rounded-2xl shadow-2xl h-full hover:shadow-xl hover:opacity-90" style="backdrop-filter: blur(30px);"> <!-- rgba(27, 27, 27, 0.781) 3px 0 10px; -->
        <h6 class="mb-1 text-4xl font-bold tracking-tight text-green-700 text-pretty" style="text-shadow: rgba(216, 216, 216, 0.623) 3px 0 20px; ">Beneficios adicionales</h6>
        <p class="mb-3 text-xl text-gray-800" style="text-shadow: rgba(216, 216, 216, 0.781) 3px 0 15px; ">Como miembro, tendrás acceso a una variedad de beneficios adicionales, que van desde descuentos en servicios de salud y bienestar hasta programas de prevención y promoción de la salud. Queremos que te sientas valorado y recompensado por tu afiliación con nosotros.</p>
    </div>

  
</div>
<div style="background-image:url('../../public/assets/barra_colores.jpg'); height:6px;" class="w-full -z-2">
</div> 
