---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---


<Layout title="AMICOS - Asociación Mutual Intercooperativa Solidaria">
	<main>
        <Header />
		<Background />
        
        <div class="mt-28 mb-2 sm:mb-12 px-12 w-[650px] sm:w-full">
            <p class="text-xl font-semibold text-green-700">Vademécum</p>
            <hr class="border-green-600" />
        </div>

        
        
        <Footer class="w-[650px] sm:w-full"/>
	</main>
</Layout>