---
import Play from '../icons/Play.astro';
---

<div style="background-image:url('https://firebasestorage.googleapis.com/v0/b/amicosimagenes.appspot.com/o/barra_colores.jpg?alt=media&token=0efb6b48-846a-44e6-bd06-34f98f7574dd'); height:6px;" class="w-full -z-2 mt-32">
</div> 
<div class="w-full h-screen z-28 -mb-4 grid grid-cols-1 place-content-start bg-right sm:bg-center" style="background-image:url('https://firebasestorage.googleapis.com/v0/b/amicosimagenes.appspot.com/o/app3.png?alt=media&token=1f6a8076-1791-480a-80f2-70390e8f2b14'); background-size: cover; height:650px; background-position-y: center;">
    <div class="">
        <h1 class="ml-4 sm:ml-24 mt-8 sm:mt-16 text-6xl font-bold text-shadow" style="color: rgb(243, 245, 243); text-shadow: rgba(27, 27, 27, 0.781) 3px 0 10px;">
            Conocé nuestra <br>
            App.
        </h1>
        <h6 class="ml-4 sm:ml-24 sm:mt-12 text-3xl font-bold text-shadow" style="color: rgb(243, 245, 243); text-shadow: rgba(27, 27, 27, 0.781) 3px 0 10px;">
            Con la App podés acceder a:
        </h6>
        
        <ul class="sm:ml-28 p-4 mt-8 sm:mt-0 text-xl text-shadow" style="color: rgb(243, 245, 243); text-shadow: rgba(27, 27, 27, 0.781) 3px 0 10px;">
            <li class="w-[320px] sm:w-full">● Credencial digital de todo el grupo famliar.</li>
            <li class="w-[320px] sm:w-full">● Información sobre el estado de tu cuenta.</li>
            <li class="w-[320px] sm:w-full">● Listado de prestadores y delegaciones.</li>
            <li class="w-[320px] sm:w-full">● Nuestros teléfonos útiles y formas de contacto.</li>
        </ul>
        
    </div>
    <div class="p-4 sm:mx-20 my-6">
        <a href="https://play.google.com/store/apps/details?id=ar.com.amicos">
            <button type="button" class="text-gray-900 shadow-2xl shadow-gray-700 hover:shadow-2xl hover:shadow-gray-800 text-lg bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg w-64 p-12 py-2.5 inline-flex items-center">
                <Play class="h-8 w-8 mr-4"/>
                <p>Google Play</p>
            </button>
        </a>
    </div>

</div>
<div style="background-image:url('https://firebasestorage.googleapis.com/v0/b/amicosimagenes.appspot.com/o/barra_colores.jpg?alt=media&token=0efb6b48-846a-44e6-bd06-34f98f7574dd'); height:6px;" class="mt-4 w-full -z-2">
</div> 