---
import Gmail from "../icons/Gmail.astro"
import Instagram from "../icons/Instagram.astro"
---

<footer class=" rounded-lg m-4 pt-24">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-7">
        <div class="sm:flex sm:items-center sm:justify-between">
            
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img class="h-7" src="../src/assets/amicos_logo.png" alt="">
                <!--<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="60" height="45.000000pt" viewBox="0 0 53.000000 45.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,45.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path fill="#00913f" d="M127 428 c-15 -12 -11 -20 39 -83 31 -38 60 -74 64 -78 13 -14 49 11 44 30 -3 11 13 39 40 72 25 30 42 59 39 64 -6 9 -92 -80 -93 -95 -1 -20 -20 -4 -56 47 -41 58 -50 63 -77 43z"/> <path fill="#00913f" d="M234 425 c-18 -13 -18 -15 -1 -32 16 -17 18 -17 37 2 19 20 19 21 1 32 -15 9 -23 9 -37 -2z"/> <path fill="#00913f" d="M420 365 c-7 -9 -41 -36 -76 -62 -58 -42 -62 -47 -52 -69 12 -26 23 -30 33 -14 4 6 33 -11 70 -40 35 -28 66 -46 69 -41 4 5 -19 29 -49 53 -30 23 -55 46 -55 50 0 4 25 26 55 48 51 38 54 42 43 65 -13 29 -21 31 -38 10z"/> <path fill="#00913f" d="M50 323 c0 -5 15 -18 34 -31 18 -12 43 -33 55 -46 l23 -24 -56 -39 c-58 -40 -63 -49 -44 -76 12 -16 21 -12 95 45 79 60 81 62 66 85 -11 17 -19 21 -28 13 -9 -8 -27 2 -68 35 -53 42 -77 55 -77 38z"/> <path fill="#00913f" d="M422 259 c-10 -16 -10 -24 2 -41 l15 -21 12 27 c10 22 10 29 -2 41 -13 13 -16 12 -27 -6z"/> <path fill="#00913f" d="M61 241 c-16 -28 14 -51 36 -28 13 13 14 19 3 31 -17 21 -27 20 -39 -3z"/> <path fill="#00913f" d="M252 197 c-17 -10 -19 -16 -11 -24 9 -9 1 -26 -34 -69 -26 -31 -47 -60 -47 -65 0 -20 17 -6 59 46 24 30 47 55 50 55 4 0 14 -12 23 -27 10 -16 28 -41 41 -58 23 -27 27 -29 50 -16 l25 13 -60 77 c-33 42 -63 77 -67 78 -3 1 -16 -3 -29 -10z"/> <path fill="#00913f" d="M248 76 c-23 -17 -22 -23 0 -35 12 -6 23 -5 35 3 16 12 16 14 -1 29 -14 13 -20 13 -34 3z"/> </g> </svg> -->
                <span class="self-center text-xl text-green-700 font-bold whitespace-nowrap dark:text-white"></span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-600 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#atencion" class="hover:opacity-80 me-4 md:me-6">Atención</a>
                </li>
                <li>
                    <a href="#info" class="hover:opacity-80 me-4 md:me-6">Info</a>
                </li>
                <li>
                    <a href="#" class="hover:opacity-80 me-4 md:me-6">Nosotros</a>
                </li>
                <li>
                    <a href=https://www.instagram.com/amicos_mutual/" class="hover:opacity-80 me-4 md:me-6 flex align-bottom"><Instagram class="h-8 w-8" /></a>
                </li>
                <li>
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXDxqxtnRDWvxvjCRskvHxBBbtQrFZxkZvxVnvZHJcMgnTFxqsncsfpkgWVdjxkgkTvKg" class="hover:opacity-80"><Gmail class="h-6 w-6" /></a>
                </li>
            </ul>
        </div>
        <hr class="my-2 border-gray-400 sm:mx-auto lg:my-7" />
        <div class="grid grid-cols-2 place-content-between">
            <div class="text-gray-700">
                <p>Asociación Mutual Intercooperativa Solidaria. <br>
                    C.U.I.T. 30-68761473-5 <br>
                    Mat. I.N.A.C.Y.M. Nº 680 <br>
                    N° de Inscripción RNEMP: 9999 | Superintendencia de Servicios de Salud.</p>
            </div>
            <div class="text-gray-700 inline-flex justify-end gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><path d="M9 11a3 3 0 1 0 6 0 3 3 0 0 0-6 0"/><path d="M17.657 16.657 13.414 20.9a2 2 0 0 1-2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z"/></svg>
                <p>San Luis 71 - Nueva Cordoba - Cordoba.</p>
            </div>
        </div>
    </div>
</footer>

