<header class="flex justify-start">
    <div class="flex justify-between items-center py-2 w-full  px-24 fixed  z-10 bg-white bg-gradient-to-b from-green-200 to-transparent ">
    
        <a href="/">
            <img
                class="h-10 hover:opacity-80"
                src="../src/assets/amicos_logo.png"
                alt="amicos logo"
            />
        </a>
    
        <div class="flex justify-end gap-x-9">
            <div>
                <a href="/" class="hover:text-gray-600">Volver</a>
            </div>
        </div> 
    </div>
    
    <div style="background-image:url('../src/assets/barra_colores.jpg'); height:7px;" class="mt-14 w-full -z-2">
    </div>  
</header>