
<div class="flex justify-start">
    <div class="flex justify-between items-center py-2 w-full fixed z-10 bg-gradient-to-b from-green-200 to-transparent px-12 sm:px-12 md:px-12 lg:px-24 xl:px-24 2xl:px-64" style="backdrop-filter: blur(15px);">
    
    <a href="#">
        <img
            class="h-10 hover:opacity-80 overflow-hidden"
            src="amicos_logo.png"
            alt="amicos logo"
        />
    </a>

    <div class="flex justify-end font-semibold opacity-80 gap-x-9">
        <div>
            <a href="#atencion" class="hover:text-gray-600">Atención</a>
        </div>
        <div>
            <a href="#info" class="hover:text-gray-600">Info</a>
        </div>
        <div>
            <a href="#historia" class="hover:text-gray-600">Nosotros</a>
        </div>
        <div>
            <a href="#redes" class="hover:text-gray-600">Redes</a>
        </div>
        <div>
            <a href="/ingresar" class="hover:text-gray-600">Ingresar</a>
        </div>
    </div> 
</div>

<div style="background-image:url('barra_colores.jpg'); height:6px;" class="mt-14 w-full -z-2">
</div> 
</div>
