

<div class="w-[657px] sm:w-full px-6 grid grid-cols-2 place-content-between items-center  h-22 md:grid-cols-2 md:h-12 md:px-12 lg:px-24 xl:px-24 py-2 fixed z-10 bg-gradient-to-b from-green-200 to-transparent" style="backdrop-filter: blur(15px);">
    <div class="flex justify-start md:justify-between mt-4 md:mt-0">
        <a href="#">
            <img
                class="h-10 hover:opacity-80"
                src="https://firebasestorage.googleapis.com/v0/b/amicosimagenes.appspot.com/o/amicos_logo.png?alt=media&token=4b0e4ed1-01b1-43b6-aff1-a0762b71b1c7"
                alt="amicos logo"
            />
        </a>
    </div>

    <div class="font-semibold justify-end mt-[15px] sm:mt-2 md:mb-2 opacity-80 gap-x-6 flex">
        <div class="">
            <a href="/" class="hover:text-gray-600 text-3xl md:text-lg ml-3 inline-flex gap-x-2">
                <svg class="pt-[6px] w-10 h-12 sm:w-6 sm:h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12h14M5 12l6 6M5 12l6-6"/></svg>
                Volver
            </a>
        </div>

    </div> 

</div>