---
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favIcon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AMICOS - Asociación Mutual
			Intercooperativa Solidaria</title>
		
	</head>
	<body>
		
		<slot />
	</body>
	
</html>
<style is:global>
	:root {
		color-scheme: light;
	}
	html {
		scroll-behavior: smooth;
	}
	
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(230, 241, 230);
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}

</style>
